* {
    margin: 0px;
    padding: 0px;
    
}

header{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 70px;
    width: 100%;
    
}

body{
    background: black;
}


footer {
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    }
